.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.memory-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.load-more-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 30px; /* 좌우 여백을 30px로 추가 */
}

.load-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.load-more-image {
  width: 85%; /* 이미지 크기를 조금 더 작게 */
  height: 85%; /* 이미지 크기를 조금 더 작게 */
}
.load-more-btn:hover {
  background-color: white;
}

.search-icon {
  width: 50%;
}
